@media screen and (max-width: 650px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
  }

  .header {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    text-align: center;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border-right: none;
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 80px;
  }

  .logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    width: 60px;
  }

  .right__side {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .right__side > img {
    position: absolute;
    right: -40px;
    bottom: -40px;
    margin: 0;
    width: 100px;
    display: block;
    height: 100px;
  }
  .skills-circles {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header {
    position: relative;
  }

  .mode-switcher {
    position: fixed;
    top: 5%;
    right: 0;
  }
}

@media screen and (max-width: 380px) {
  .header > div {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: Anton;
    font-size: 20px;
    font-weight: 400;
    color: var(--image-br);
  }

  .work__info div:last-of-type h5 {
    font-family: Anton;
    font-size: 10px;
    font-weight: 400;
    color: var(--text);
  }

  .work__info div:last-of-type span {
    font-family: Gotham;
    font-size: 8px;
    font-weight: 400;
    color: var(--text);
  }

  .work__info::before {
    left: 20.5%;
  }
}
